<!DOCTYPE html>
<html lang="{{config.language}}">
<head>
    {{#include "head.html"}}
</head>
<body>
    <header>
        <div class="container">
            <a href="{{rootURL}}/" class="title">{{config.book.title}}</a>
            <div class="links">
                {{#each config.book.languages as |lang|}}
                <a href="{{rootURL}}/{{lang}}/" class="lang-switch">{{lang}}</a>
                {{/each}}
            </div>
        </div>
    </header>
    <main>
        {{#include "body.html"}}
    </main>
    {{#include "footer.html"}}
</body>
</html>
